*/releases/
*.class
*/target/
*/logs
*/ehcache/
/ContextMining/nbproject/
/TwitterSupport/TwitterSupport/target/
/IncoisRestAPI/nbproject/
/IDS/nbproject/private/
/IDS/nbproject/
*/.idea/*
.idea/*
*/*.iml
*/*.*~
*/logs/*
*/.log
.metadata/
IDS/buglist.txt
IDS/releases/*
IDS/releases
/.metadata/
RemoteSystemsTempFiles/
IDS/https:/
Servers/
ids-services.zip
